*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    
}
.fst{
    background-color: rgba(142, 49, 230, 0.89);
    text-align: center;
    height: 50px;

}
.anc{
    color: black;
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
    text-decoration: dashed;
    
}
.shopping-img{
    width: 80%;
  margin: 5% 10%;
    height: auto;
    background-color: rgb(121, 108, 108);
    margin-bottom: 50px
   ;
}
.sales{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: black;
}
.purple-bg{
    background-color:rgba(142, 49, 230, 0.89) ;
}
@media screen and (max-width: 768px) {
    .anc{
        margin: 10px;
        font-size: 15px;
    }
}