*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    
}





.fst{
   
    text-align: center;
    height: 50px;

}
.anc{
    color: black;
    text-decoration: none;
    margin: 15px;
    font-size: 25px;
    text-decoration: dashed;
    
}
.anc:active-view-transition, .anc:hover{
    color: rgb(174, 12, 223);
    text-decoration: underline;
}
.shopping-img{
    width: 80%;
  margin: 5% 10%;
    height: auto;
    background-color: rgb(121, 108, 108);
    margin-bottom: 50px
   ;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sales{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: black;
}
.purple-bg{
    background-color: #bf89eb;
}
.btn-pink{
    background-color: #8e31e6;
    border-color: #8e31e6;
    color: white;
}
.btn-pink:hover{
    background-color: #6b1fb5;
    border-color: #6b1fb5;
    color: white;
}
.img-set{
    height: 340px;
    width: 100%;
    object-fit: cover;
}
.width-100{
    width: 70%;
    text-align: center;
    margin-left: 15%;
   
}

.assce{
    text-transform: uppercase;
    display: inline-block;
    color: rgb(177, 19, 240);
}
.set-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.set-img2{
    height: 400px;
    width: 100%;
    object-fit: cover;
}




@media screen and (max-width: 768px) {
    .anc{
        margin: 5px;
        font-size: 10px;
    }
}